<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>很抱歉，無法偵測您的行動裝置</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style type="text/css">
body {
	background-color: #3b3b3b;
	margin: 0 auto;
	text-align: center;
}
.Box {
	margin: 0 auto;
	text-align: center;
	width: 640px;
	height: 960px;
	}
.txt20 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22pt;
	color: #FFF;
}
.txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18pt;
	color: #00ffff;
}
.BT {
padding-top: 50px;padding-left:46px;
float:left;
}

</style>
</head>

<body>
<div class="Box">
<img src="<%= get_current_host_and_port %>application/images/xq-app-icon.png" width="192" height="192" style="padding-top:60px"/><br>

<div class="txt20" style="padding-top: 20px; padding-bottom:20px;">很抱歉，無法偵測您的行動裝置！</div>
<div class="txt">XQ 行動版目前僅支援以下裝置</div>
<div style="padding-top:20px;"><a href="https://itunes.apple.com/us/app/xq-quan-qiu-ying-jia-shou-ji-ban/id775687957?mt=8&ign-mpt=uo%3D4"><img src="<%= get_current_host_and_port %>application/images/bt-iphone.png" width="250" height="88" alt="iPhone" class="BT"></a><a href="https://itunes.apple.com/us/app/xq-quan-qiu-ying-jia/id642738082?ls=1&mt=8"><img src="<%= get_current_host_and_port %>application/images/bt-ipad.png" width="250" height="88" alt="iPad" class="BT"></a></div>
<div><a href="https://play.google.com/store/apps/details?id=djapp.app.xqm"><img src="<%= get_current_host_and_port %>application/images/bt-android.png" width="250" height="88" alt="Android phone" class="BT"></a></div>
</div>
</body>
</html>