<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>無標題文件</title>
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/download_contents.css">
<link rel="stylesheet" href="css/colorbox-new.css">
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/jquery.colorbox.js"></script>
<script>
$(document).ready(function(){
    $(".lightbox").colorbox();
});
</script>
</head>

<body>
<div id="header">
  <div id="header-inside"> <a href="index.html" id="home">回首頁</a>
    <h1><img src="images/logo.png" title="XQ全球贏家" /></h1>
    <ul id="nav">
      <li> <a href="traits.html">產品特色</a></li>
      <li> <a href="#">策略雷達</a></li>
      <li> <a href="xqtrade.html">交易區</a></li>
      <li><a href="course.html">實務課程</a></li>
      <li><a href="video.html">實機教學</a></li>
      <li class="active"><a href="download_contents.html">下載區</a></li>
      <li><a href="purchasing.html">我要購買</a></li>
      <li><a href="#">專家分享</a></li>
      <li><a href="https://www.facebook.com/pages/XQ%E5%85%A8%E7%90%83%E8%B4%8F%E5%AE%B6/178222061342" target="_blank">粉絲團</a></li>
    </ul>
    <!--nav--> 
  </div>
  <!--header-inside--> 
</div>
<!--header-->
<div id="container">
  <div id="main">
    <div id="banner">
      <h2>下載專區</h2>
      <h3>XQ主程式 / 自設畫面檔案 / 使用手冊</h3>
    </div>
    <!--banner-->
    <div id="content">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="46%" align="left" valign="top"><h4>XQ主程式</h4>
            <a href="http://login.xq.com.tw/dassvr/installer/setup.exe" target="_blank"><img src="images/dl-01.jpg" width="319" height="108"></a><br />
            <a href="http://login.xq.com.tw/dassvr/installer/update.exe" target="_blank"><img src="images/dl-02.jpg" width="319" height="108" /></a><br />
            <br />
            <br /></td>
          <td width="8%" align="left" valign="top">&nbsp;</td>
          <td width="46%" align="left" valign="top"><h4>XQ+XS策略雷達主程式</h4>
            <img src="images/dl-01.jpg" width="319" height="108" /></td>
        </tr>
        <tr>
          <td align="left" valign="top"><h4>XQ使用手冊</h4>
            <p>XQ內建豐富系統看盤及分析頁面，多樣又實用的設計，滿足使用者即時或非即時的資訊使用，除此之外更提供最彈性、最強大的個人化看盤介面，由使用者自行規劃符合自己所需的頁面。詳細的內容讓您輕鬆學會如何使用XQ。</p>
            <a href="http://www.xq.com.tw/aphelp/DAQ/default.htm" target="_blank"><img src="images/dl-03.jpg" width="308" height="76" /></a><br />
            <br />
            <br /></td>
          <td align="left" valign="top">&nbsp;</td>
          <td align="left" valign="top"><h4>XS策略雷達使用手冊</h4>
            <p>XS策略雷達全新推出，提供豐富的技術指標供您自訂圖形指標，進階警示支援大量股票快速掃描、將您的投資邏輯一一實現，看盤做決策如您所願。詳細的內容讓您輕鬆開始操作XS策略雷達。<br />
              <br />
            </p>
            <img src="images/dl-03.jpg" width="308" height="76" /><br />
            <br /></td>
        </tr>
        <tr>
          <td colspan="3" align="left" valign="top"><h4>XQ自設畫面檔案</h4>
            <div id="custom">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" >
              <tr>
                <td width="37%" rowspan="2" align="left" valign="top"><a class="lightbox" href="images/lb-dl-04.jpg"><img src="images/dl-04.jpg" width="231" height="139" /></a></td>
                <td width="63%" height="97" align="left" valign="top"><h5>外匯整合畫面</h5>
                  透過自設畫面整合所有的外匯商品，同步的觀察各項商品即時走勢，與歷史趨勢圖以及相關的財經新聞。<br />
                  <br /></td>
              </tr>
              <tr>
                <td align="left" valign="top"><a href="http://new.xq.com.tw/download_contents/file_01"><img src="images/dm-03.jpg" width="144" height="38" /></a><br />
                  <br /></td>
              </tr>
              <tr>
                <td width="37%" rowspan="2" align="left" valign="top"><a class="lightbox" href="images/lb-dl-05.jpg"><img src="images/dl-05.jpg" width="232" height="139" /></a></td>
                <td width="63%" height="97" align="left" valign="top"><h5>美股重要個股（對照台股相關）</h5>
                  美國重要公司是世界上舉足輕重的跨國企業，透過系統觀察相關公司漲跌狀況，瞭解該公司對那些台灣相關企業會造成影響。 </td>
              </tr>
              <tr>
                <td align="left" valign="top"><a href="http://new.xq.com.tw/download_contents/file_02"><img src="images/dm-03.jpg" width="144" height="38" /></a><br />
                  <br /></td>
              </tr>
              <tr>
                <td width="37%" rowspan="2" align="left" valign="top"><a class="lightbox" href="images/lb-dl-06.jpg"><img src="images/dl-06.jpg" width="232" height="140" /></a></td>
                <td width="63%" height="97" align="left" valign="top"><h5>中港台產業比較</h5>
                  XQ內的細產業是掌握產業脈動變化的好工具，台、陸、港股彼此間影響與連動性越來越密切，透過XQ自設畫面同步觀察與比較，讓投資人的視野不在局限於台灣的市場。</td>
              </tr>
              <tr>
                <td align="left" valign="top"><a href="http://new.xq.com.tw/download_contents/file_03"><img src="images/dm-03.jpg" width="144" height="38" /></a></td>
              </tr>
            </table></div></td>
        </tr>
      </table>
    
  </div>
</div>
<!--main-->
<div id="footer"> <span>嘉實資訊股份有限公司©2012 XQ.com.tw / All Right Reserved.</span> <span style="margin:0 100px">客戶免付費電話：0800-006-098</span> <span>客服信箱：<a href="mailto:XQservice@XQ.com.tw" target="_blank">XQservice@XQ.com.tw</a> </span> </div>
<!--footer-->
<div id="link">
  <div class="link-box">
    <h5 class="link-title">產品特色</h5>
    <ul class="link-text">
      <li><a href="#">三大特色</a></li>
      <li><a href="#">線上體驗產品</a></li>
      <li><a href="#">申請試用</a></li>
      <li><a href="#">DM下載</a></li>
      <li><a href="#">常見問題</a></li>
    </ul>
  </div>
  <!--link-box-->
  <div class="link-box">
    <h5 class="link-title">策略雷達</h5>
    <ul class="link-text">
      <li><a href="#">功能介紹</a></li>
      <li><a href="#">影片教學</a></li>
      <li><a href="#">討論區</a></li>
      <li><a href="#">常見問題</a></li>
      <li><a href="#">函數搜尋</a></li>
    </ul>
  </div>
  <!--link-box-->
  <div class="link-box">
    <h5 class="link-title">交易區</h5>
    <ul class="link-text">
      <li><a href="xqtrade">交易功能</a></li>
      <li><a href="xqtrade_partner">合作夥伴</a></li>
      <li><a href="xqtrade_ca">憑證中心</a></li>
      <li><a href="xqtrade_faq">常見問題</a></li>
      <li><a href="xqtrade_manual">使用手冊</a></li>
      <li><a href="xqtrade_service">客服窗口</a></li>
    </ul>
  </div>
  <!--link-box-->
  <div class="link-box">
    <h5 class="link-title">實務課程</h5>
    <ul class="link-text">
      <li><a href="#">講座課程</a></li>
    </ul>
  </div>
  <!--link-box-->
  <div class="link-box">
    <h5 class="link-title">實機教學</h5>
    <ul class="link-text">
      <li><a href="#">全新策略教戰</a></li>
      <li><a href="#">獨家操作教戰</a></li>
      <li><a href="#">獨家資訊教戰</a></li>
      <li><a href="#">獨家分析教戰</a></li>
    </ul>
  </div>
  <!--link-box-->
  <div class="link-box">
    <h5 class="link-title">下載區</h5>
    <ul class="link-text">
      <li><a href="#">XQ主程式</a></li>
      <li><a href="#">XQ+XS策略雷達主程式</a></li>
      <li><a href="#">XQ使用手冊</a></li>
      <li><a href="#">XS策略雷達使用手冊</a></li>
      <li><a href="#">XQ自設畫面檔案</a></li>
    </ul>
  </div>
  <!--link-box-->
  <div class="link-box">
    <h5 class="link-title">專家分享</h5>
    <ul class="link-text">
      <li><a href="#">專家分享</a></li>
    </ul>
  </div>
  <!--link-box-->
  <div class="link-box">
    <h5 class="link-title">我要購買</h5>
    <ul class="link-text">
      <li><a href="#">方案及軟體</a></li>
    </ul>
  </div>
  <!--link-box-->
  <div class="link-box">
    <h5 class="link-title">粉絲團</h5>
    <ul class="link-text">
      <li><a href="#">粉絲團</a></li>
    </ul>
  </div>
  <!--link-box--> 
</div>
<!--link-->
</div>
<!--container-->
</body>
</html>
