<% @css_path = get_current_host_and_port + "application/css/purchasing.css" %>
<%= render :partial => "shared/application_top" %>

<style>
#content {
  padding: 40px 60px;
}
#plan-e	h3{background:url(application/images/new/xqlite-tita.png) 0 0 no-repeat; padding:12px 0 0 160px;font:300 16px "微軟正黑體";height:40px;}
.xqlite-pdt{ width:764px; margin:30px auto;}
</style>
<div id="container">
  <div id="main">
    <div id="banner">
      <h2>我要購買</h2>
    </div>
    <!--banner-->
    <!--banner-->
    <div id="content">
      <div id="plan-e">
        <h3>提供APP內購買加值模組，讓您投資決策更有效率！</h3>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="500" class="text">
            <div  class="xqlite-pdt"><img src="<%= get_current_host_and_port %>application/images/new/xqlite_01.png" width="764" height="340" /></div>
              <div  class="xqlite-pdt">您可以在開啟XQ操盤高手系統後，點選"設定"主選單下的"我要購買加值模組"，即可看到詳細的功能介紹。</div>
          </tr>
        </table>
      </div>
      <div id="tip"></div>
    </div>
    <!--content-->
  </div>
  <!--main-->


<%= render :partial => "shared/application_footer" %>
<!--link-->
</div>
<!--container-->
