<% @css_path = get_current_host_and_port + "application/css/radar-qa.css" %>
<%= render :partial => "shared/application_top" %>


<script type="text/javascript">
jQuery(document).ready(function($){
	$(".list-title").css({cursor:"pointer"}).click(function(){
		$(this).next().toggle("normal");
		
		var closeFlag = $(this).children('span');
		
		if (closeFlag.html() == '[-收合]') {			
			closeFlag.html('[+展開]');			
		} else {
			closeFlag.html('[-收合]');
		}
		
	});
})
</script>

<div id="container">
  <div id="main">
    <div id="content">
      <div class="list-box">
        <div class="list-title"><a>哪裏有函數的定義說明?</a> <span>[+展開]</span></div>
        <div class="list-text">我們收集市場上完整函數的資料，您可以由下列網址查詢您要的函數說明，及使用範例。<br>
          <a href="#">http://203.67.19.12/XSWebHelp/index.xdjhtm </a> </div>
      </div>
      <!--list-box-->
      <div class="list-box">
        <div class="list-title"><a>使用XS策略雷達的費用多少？</a> <span>[+展開]</span></div>
        <div class="list-text">XQ策略功能中的XScript編輯器非獨立銷售產品，需搭配XQ全球贏家一起購買與使用，上線後前三個月免費，<br />
免費試用期間：2013/05/01-2013/07/31，之後XS程式雷達的收費方式如下：<br />
<br />
首購：3000元／一個月　　　　　　XQ單機版舊客戶加購：1000元／一個月</div>
      </div>
      <!--list-box-->
      <div class="list-box">
        <div class="list-title"><a>是否有提供相關的教學課程？</a> <span>[+展開]</span></div>
        <div class="list-text">有，近一期的課程，可以查看<a href="course.html">[實務課程]</a>。</div>
      </div>
      <!--list-box-->
      <div class="list-box">
        <div class="list-title"><a>使用XS策略雷達有快速鍵嗎？</a> <span>[+展開]</span></div>
        <div class="list-text">有，快速鍵如下所示：<br />
          <img src="<%= get_current_host_and_port %>application/images/rd-tb.jpg"/> </div>
      </div>
      <!--list-box-->
      <div class="list-box">
        <div class="list-title"><a>如何匯入別人已經寫好的指標，且怎麼運用在線圖上？</a> <span>[+展開]</span></div>
        <div class="list-text">只要取得別人寫好的指標，直接以XScript編輯器匯入並編譯後，就可以在XQ技術分析的選擇副圖上，挑選到已匯入的指標了。<br />
步驟一：開啟[XScript編輯器]，點選[匯入]功能，選擇匯入的檔案，然後開啟。<br />
步驟二：<br />
方法1：在技術分析圖，按右鍵選[設定]/[副圖設定]， [自訂指標]選擇匯入的指標，按[完成]。<br />
方法2：在副圖上按右鍵，[選擇指標]／[自訂指標]，跳出選擇畫面，選擇匯入的指標，按[確定]。<br />
</div>
      </div>
      <!--list-box-->
      <div class="list-box">
        <div class="list-title"><a>如何匯入別人已經寫好的進階警示？</a> <span>[+展開]</span></div>
        <div class="list-text">請先匯入腳本，接著匯入進階警示，然後在進階警示清單中就可以使用了。<br />
請注意！匯入的腳本與進階警示必須為同來源，且腳本被編譯後才能使用。<br />
步驟一：開啟[XScript編輯器]，點選[匯入]功能，選擇匯入的腳本並編譯，完成第一步。<br />
步驟二：在進階警示清單，按下匯入，挑選欲匯入的進階警示，到進階警示清單中查看，就可以使用了，<br />
如果腳本來源與進階警示來源不同，匯入會失敗喔！
</div>
      </div>
      <!--list-box-->
      <div class="list-box">
        <div class="list-title"><a>如何將進階警示的訊息記錄匯出？</a> <span>[+展開]</span></div>
        <div class="list-text">功能選項，請選擇[進階警示記錄]，點選右上方 <img src="<%= get_current_host_and_port %>application/images/rd-icon.jpg"> 按鈕，就可以將近一星期的警示記錄匯出。</div>
      </div>
      <!--list-box-->
      <div class="list-box">
        <div class="list-title"><a>最低電腦需求為何？</a> <span>[+展開]</span></div>
        <div class="list-text">建議配備：CPU intel-i5等級以上， 4G記憶體</div>
      </div>
      <!--list-box-->
      <div class="list-box">
        <div class="list-title"><a>同時跑很多警示條件的話,會影響報價嗎？</a> <span>[+展開]</span></div>
        <div class="list-text">視使用者電腦等級而定，效能越好的電腦影響越小，或可到沒有影響，亦與條件寫法有關。</div>
      </div>
      <!--list-box--> 
      
    </div>
    <!--content--> 
  </div>
  <!--main-->
  
<%= render :partial => "shared/application_footer" %>
<!--link-->
</div>
<!--container-->