<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>無標題文件</title>
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/share-article.css">
<link rel="stylesheet" href="css/colorbox.css" />
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/jquery.colorbox.js"></script>
</head>

<body>
<div id="header">
  <div id="header-inside"> <a href="index.html" id="home">回首頁</a>
    <h1><img src="images/logo.png" title="XQ全球贏家" /></h1>
    <ul id="nav">
      <li> <a href="traits.html">產品特色</a></li>
      <li> <a href="radar-intro.html">策略雷達</a></li>
      <li> <a href="xqtrade.html">交易區</a></li>
      <li><a href="course.html">實務課程</a></li>
      <li><a href="video.html">實機教學</a></li>
      <li><a href="download_contents.html">下載區</a></li>
      <li><a href="purchasing.html">我要購買</a></li>
      <li class="active"><a href="share-main.html">專家分享</a></li>
      <li><a href="https://www.facebook.com/pages/XQ%E5%85%A8%E7%90%83%E8%B4%8F%E5%AE%B6/178222061342" target="_blank">粉絲團</a></li>
    </ul>
    <!--nav--> 
  </div>
  <!--header-inside--> 
</div>
<!--header-->
<div id="container">
  <div id="main">
    <div id="content">
      <div class="article">
        <div class="article-title">
          <h3>【勞退基金台股 600億活水來了】美國本周重要經濟數據預覽</h3>
        
        <div class="socail" id="socail-up"> <span>2013/04/15 11:55</span><a href="#"><img src="images/fb.gif"/></a><a href="#"><img src="images/gplus.gif"/></a></div>
        </div>
        <!--article-title-->
        <div class="article-content">
        <p>●勞退基金代操本周簽約 台股600億活水來了<br>
          <br>
          台股600億元資金活水報到。勞退基金近日已發函給六家得標投信業者，要求業者儘速備妥簽約相關文件，預期最慢本周完成簽約，為即將來臨的總統就職520行情提前暖身。<br>
          <br>
          新、舊制勞退基金首度共同招標合計600億元，在近期開標後，委外代操名單出爐，得標業者分別為國泰、富邦、統一、復華、摩根、德盛安聯等六家，每家各得100億元。<br>
          <br>
          尤其是券商、期貨開戶名單，勞退基金已附上符合標準的相關業者名單給這六家投信，業者可自行決定合作家數，但有上限規範，即券商不可超過六家、期貨商不得超過三家。勞退基金尚未正式對外公布名單，不過，業者已證實，在近日已正式收到公文，要求業者儘速備妥簽約文件，包括保證金、保管銀行、券商、期貨開戶名單等。<br>
          <br>
          業者指出，由於公司本來對於合作的券商就有做評分考核，因此，多家業者直接以這樣名單，再與勞退基金的名單依序排列，從中選出名單，提交給勞退基金。<br>
          <br>
          除了券商名單要核備外，由於這次得標的業者是同時拿到新、舊制勞退基金各50億元的代操金，因此，勞退基金要求未來業者在下單時，要均分到新、舊制勞退基金。<br>
          <br>
          由於這次的代操金額高達600億元，隨著520即將到來，為了提前為總統就職行情暖身，預期最慢本周勞退基金就會與六家投信完成簽約。<br>
          <br>
          法人指出，以勞退目前撥款的進程估算，時間剛好接近5月20日，加上台股適值股東會前的停資券高峰期，因此勞退此次委外代操的600億元，不僅是政策對台股的多空態度，也被視為是點火520行情的指標。<br>
          <br>
          雙喜臨門的是，勞退基金在今年首次公開委外招標案名單才將確定之際，新制勞退基金又在3月底公布第二次國內（主動式相對報酬類型）委外招案，此次招標金額一樣是300億元，預計由六家業者得標。<br>
          <br>
          ●美國本周重要經濟數據預覽<br />
          <img src="images/dl-05.jpg" width="232" height="139" /></p>
          </div><!--article-content-->
          <div class="article-footer">
        <div class="socail" id="socail-down"> <a href="#"><img src="images/fb.gif"/></a><a href="#"><img src="images/gplus.gif"/></a> <a href="#" id="back">&lt;上一頁</a></div>
        <p>文章分類：<a href="#">台股趨勢</a></p>
        <ul>
        <li>同類型文章推薦</li>
        <li><a href="#">亞洲貨幣競貶大賽開打的獲利之道</a></li>
		<li><a href="#">【台股必殺技】期貨多單大減，過年前外資不玩了</a></li>
		<li><a href="#">外資不可告人的陰謀</a></li>
        </ul>
        </div><!--article-footer-->
      </div>
      <!--article--> 
    </div>
    <!--content-->
    <div id="aside">
      <div id="category">
        <h4>【文章分類】</h4>
        <ul>
          <li><a href="#">台股趨勢 (60)</a></li>
          <li><a href="#">程式交易 (45)</a></li>
          <li><a href="#">策略應用 (30)</a></li>
          <li><a href="#">新興市場 (19)</a></li>
        </ul>
      </div>
      <!--category-->
      <div id="publish">
        <h4>【文章張貼】</h4>
        <ol>
          <li><a href="#"><img src="images/share-p2.gif">2013 (43)</a>
            <ol>
              <li><a href="#"><img src="images/share-p2.gif">四月 (8)</a>
                <ol>
                  <li><a href="#">【勞退基金台股 600億活水來了】美國本周重要經濟數據預覽</a></li>
                  <li><a href="#">【2013年報稅注意- 6大新措施】申報放寬扶養 小額退稅 特別扣除額</a></li>
                  <li><a href="#">小媽精選1020413-0415基金資訊</a></li>
                  <li><a href="#">春電展周三登場 3C大廠優惠齊殺</a></li>
                  <li><a href="#">風蕭蕭兮~~台股8000不復還</a></li>
                  <li><a href="#">行庫限貸可壓桃園炒風嗎？中古屋交易是關鍵</a></li>
                  <li><a href="#">04.12 季線月線反壓在上。/歐斯麥</a></li>
                  <li><a href="#">投資行事曆 / Mr.X艾克斯</a></li>
                </ol>
                <a href="#"><img src="images/share-p1.gif">三月 (10)</a></li>
              <li><a href="#"><img src="images/share-p1.gif">二月 (12)</a></li>
              <li><a href="#"><img src="images/share-p1.gif">一月 (13)</a></li>
            </ol>
          </li>
          <li><a href="#"><img src="images/share-p1.gif">2012 (25)</a></li>
          <li><a href="#"><img src="images/share-p1.gif">2011 (30)</a></li>
        </ol>
      </div>
      <!--publish--> 
    </div>
    <!--aside--> 
  </div>
  <!--main-->
  
  <div id="footer"> <span>嘉實資訊股份有限公司©2012 XQ.com.tw / All Right Reserved.</span> <span style="margin:0 100px">客戶免付費電話：0800-006-098</span> <span>客服信箱：<a href="mailto:XQservice@XQ.com.tw" target="_blank">XQservice@XQ.com.tw</a> </span> </div>
  <!--footer-->
  <div id="link">
    <div class="link-box">
      <h5 class="link-title">產品特色</h5>
      <ul class="link-text">
        <li><a href="#">三大特色</a></li>
        <li><a href="#">線上體驗產品</a></li>
        <li><a href="#">申請試用</a></li>
        <li><a href="#">DM下載</a></li>
        <li><a href="#">常見問題</a></li>
      </ul>
    </div>
    <!--link-box-->
    <div class="link-box">
      <h5 class="link-title">策略雷達</h5>
      <ul class="link-text">
        <li><a href="#">功能介紹</a></li>
        <li><a href="#">影片教學</a></li>
        <li><a href="#">討論區</a></li>
        <li><a href="#">常見問題</a></li>
        <li><a href="#">函數搜尋</a></li>
      </ul>
    </div>
    <!--link-box-->
    <div class="link-box">
      <h5 class="link-title">交易區</h5>
      <ul class="link-text">
        <li><a href="xqtrade">交易功能</a></li>
        <li><a href="xqtrade_partner">合作夥伴</a></li>
        <li><a href="xqtrade_ca">憑證中心</a></li>
        <li><a href="xqtrade_faq">常見問題</a></li>
        <li><a href="xqtrade_manual">使用手冊</a></li>
        <li><a href="xqtrade_service">客服窗口</a></li>
      </ul>
    </div>
    <!--link-box-->
    <div class="link-box">
      <h5 class="link-title">實務課程</h5>
      <ul class="link-text">
        <li><a href="#">講座課程</a></li>
      </ul>
    </div>
    <!--link-box-->
    <div class="link-box">
      <h5 class="link-title">實機教學</h5>
      <ul class="link-text">
        <li><a href="#">全新策略教戰</a></li>
        <li><a href="#">獨家操作教戰</a></li>
        <li><a href="#">獨家資訊教戰</a></li>
        <li><a href="#">獨家分析教戰</a></li>
      </ul>
    </div>
    <!--link-box-->
    <div class="link-box">
      <h5 class="link-title">下載區</h5>
      <ul class="link-text">
        <li><a href="#">XQ主程式</a></li>
        <li><a href="#">XQ+XS策略雷達主程式</a></li>
        <li><a href="#">XQ使用手冊</a></li>
        <li><a href="#">XS策略雷達使用手冊</a></li>
        <li><a href="#">XQ自設畫面檔案</a></li>
      </ul>
    </div>
    <!--link-box-->
    <div class="link-box">
      <h5 class="link-title">專家分享</h5>
      <ul class="link-text">
        <li><a href="#">專家分享</a></li>
      </ul>
    </div>
    <!--link-box-->
    <div class="link-box">
      <h5 class="link-title">我要購買</h5>
      <ul class="link-text">
        <li><a href="#">方案及軟體</a></li>
      </ul>
    </div>
    <!--link-box-->
    <div class="link-box">
      <h5 class="link-title">粉絲團</h5>
      <ul class="link-text">
        <li><a href="#">粉絲團</a></li>
      </ul>
    </div>
    <!--link-box--> 
  </div>
  <!--link--> 
</div>
<!--container-->
</body>
</html>
