<% @css_path = get_current_host_and_port + "application/css/sorry.css" %>
<%= render :partial => "shared/application_top" %>

<div id="container">
  <div id="main">
    <div id="content">
    <h6>504 服務暫時無法使用</h6><br>
很抱歉，目前系統出現問題，您所要求的頁面暫時無法顯示<br>
請耐心等候，並稍晚再瀏覽本網頁。<br>
如造成您的不便，我們深感抱歉。
    </div>
    
</div>
<!--main-->

<%= render :partial => "shared/application_footer" %>

</div>
<!--container-->
