<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>你好,</h1>
    <p>
      有人報名體驗課程了
      點選此處登入系統檢視報名者資料: <%= @url %><br/>
    </p>
  </body>
</html>