<div id="top-out">
  <div id="top">
    <h1 class="left"><a href="index.html">XQ全球贏家-後台管理系統</a></h1>
    <div class="right"><a href="<%=root_path%>">返回首頁</a><a href="<%=new_user_session_path%>">登入</a></div>
  </div>
  <!--top--> 
</div>