.message {position:absolute;top:-10px;right:10px;background:rgba(161,45,45,.8);color:#fff;display:block;padding:2px 7px;border-radius:5px;font:300 13px "·L³n¥¿¶ÂÅé";-webkit-transition:all 0.5s ease}
.field_with_errors {position: relative;}

