<div id="header">
  <div id="header-inside">
    <h1><img src="<%= get_current_host_and_port %>application/images/logo.png" title="XQ全球贏家" /></h1>
    <ul id="nav">
      <li><a href="index.html">回首頁</a></li>
      <li> <a href="traits.html">產品特色</a></li>
      <li><a href="course.html">實務課程</a></li>
      <li class="active"><a href="video.html">實機教學</a></li>
      <li><a href="download_contents.html">下載專區</a></li>
      <li><a href="purchasing.html">我要購買</a></li>
      <li><a href="#">討論區</a></li>
    </ul>
    <!--nav-->
  </div>
  <!--header-inside-->
</div>