<div id="footer">嘉實資訊股份有限公司©2012 XQ.com.tw / All Right Reserved.
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;客戶免付費電話：0800-006-098
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;客服信箱：XQservice@XQ.com.tw </div>
<!--footer-->
<div id="link">
  <div class="link-box">
    <h5 class="link-title">產品特色</h5>
    <ul class="link-text">
      <li><a href="#">XQ全球贏家三大特色</a></li>
      <li><a href="#">線上體驗產品</a></li>
      <li><a href="#">申請實機體驗</a></li>
      <li><a href="#">DM下載</a></li>
      <li><a href="#">常見問答</a></li>
    </ul>
  </div>
  <!--link-box-->
  <div class="link-box">
    <h5 class="link-title">實務課程</h5>
    <ul class="link-text">
      <li><a href="#">XQ課程</a></li>
      <li><a href="#">XQ實務應用</a></li>
    </ul>
  </div>
  <!--link-box-->
  <div class="link-box">
    <h5 class="link-title">實機教學</h5>
    <ul class="link-text">
      <li><a href="#">獨家操作教戰</a></li>
      <li><a href="#">獨家資訊教戰</a></li>
      <li><a href="#">獨家分析教戰</a></li>
    </ul>
  </div>
  <!--link-box-->
  <div class="link-box">
    <h5 class="link-title">下載專區</h5>
    <ul class="link-text">
      <li><a href="#">XQ主程式</a></li>
      <li><a href="#">XQ自設畫面檔案</a></li>
      <li><a href="#">使用手冊</a></li>
    </ul>
  </div>
  <!--link-box-->
  <div class="link-box">
    <h5 class="link-title">我要購買</h5>
    <ul class="link-text">
      <li><a href="#">方案及軟體</a></li>
      <li><a href="#">產品訂購單下載</a></li>
      <li><a href="#">傳真刷卡單下載</a></li>
    </ul>
  </div>
  <!--link-box-->
</div>
<!--link-->