
<style>
    #banner {
        background-image: url(<%=get_current_host_and_port%>application/images/banner-cs.jpg)
    }

    hr {
        background: url(<%=get_current_host_and_port%>application/images/cs-hr.jpg) 0 0 no-repeat;
        width: 800px;
        height: 14px;*height:1px;
        border: 0
    }

    .box {
        margin: 25px 0
    }

    h4 {
        font: 300 20px ""微軟正黑體"";
        color: #a72c07;
        height: 35px
    }

    .visitors {
        background: #ECECEC;
        border-radius: 5px;
        width: 100%;
        height: 75px;
        padding-top: 25px
    }

    .visitors span {
        font-size: 22px;
        color: #a90101
    }

    .iframe:hover {
        opacity: .85
    }
    #msg {
        text-align: center;
        width: 550px;
        font: 300 14px ""微軟正黑體"";
        padding: 20px
    }

    #msg table {
        border: 1px solid #777
    }

    #msg p {
        font: 300 24px ""微軟正黑體"";
        color: #a72c07;
        margin: 20px 0
    }

    #msg th {
        font-weight: 700;
        color: #555
    }
</style>

<div>
  <div id="msg">
    <p>感謝您，歡迎您來上課。</p>
  </div>
  <!--msg-->
</div>