#banner {background-image: url(../images/banner-dl.jpg)}
h4 {font: 300 24px "Microsoft JhengHei";color: #a72c07;padding: 0 0 10px 0;border-bottom: 1px dashed #D3D3D3}
h5{font: 300 20px "Microsoft JhengHei";color: #a72c07}
#content{padding:40px 60px}
#content p {padding: 20px 0 10px 0}
#content img{margin:20px 0 0 40px}
#content a:hover img{opacity:0.9;filter:alpha(opacity=90)}
#custom {margin:40px auto;width:80%}
#custom img{margin:0}