body{background:url(../images/bg.jpg) 0 0 repeat;font-family:微軟正黑體}
a{text-decoration:none}

#header{height:179px;background:url(../images/header.jpg) 0 0 repeat-x}
#header-inside{width:1000px;margin:0 auto;height:179px;overflow:hidden;*overflow:none;}
h1{float:left;margin-top:30px;}
#nav{width:826px;height:42px;float:right;margin-top:81px;}
#nav li{width:100px;height:42px;float:left;text-align:center;}
#nav li a{display:block;width:100%;height:30px;padding-top:12px;font:700 18px "微軟正黑體";color:#fbcabf}

#nav .active{background:url(../images/active.jpg) 0 0 no-repeat}
#nav .active a,#nav li:hover a{color:#fff}

#nav-child{width:826px;height:42px;clear:both;margin-left:50px}
#nav-child li{height:42px;float:left;text-align:center;margin:10px 5px 0 5px;}
#nav-child li a{display:block;padding:7px 12px;font:700 15px "微軟正黑體";color:#fff}
#nav-child .active a{background:#8F0707;border:2px solid #F37650;border-radius:10px}

#container{width:1000px;margin:0 auto;color:#363636;line-height:24px;font-size:14px}
#main{background:#fff;box-shadow:0 3px 5px #aaa}

.left{float:left}
.right{float:right}

#banner{background-color:#FAFAFA;height:150px;background-position: top right;	background-repeat:no-repeat}
h2{color:#4b4b4b;font:300 48px "微軟正黑體";padding:70px 0 0 60px;text-shadow:0 1px 0 #fff}
h3{color:#4b4b4b;font-size:15px;position:relative;bottom:0px;left:63px}

#content{margin:0 80px;padding:20px 0}

#footer,#footer a{color:#545454;font:300 13px "微軟正黑體";text-align:center;height:30px;padding-top:35px;text-shadow:0 1px 0 #fff;clear:both}
#footer a:hover{text-decoration:underline}

#link{height:161px;background:url(../images/link.jpg) 0 0 repeat-x;
overflow:hidden;*overflow:none;padding:30px 62.5px 0 62.5px}
.link-box{width:175px;float:left;}

.link-title{color:#4E1303;font:300 16px "微軟正黑體";height:30px;}
.link-text li{height:25px;}
.link-text a{color:#231815;font:300 14px "微軟正黑體"}
.link-text a:hover{text-decoration:underline}
