/*---文章區---*/
#content{padding:0 40px 0 0;width:617px;float:left;border-right:1px solid #ddd}
.social{padding:0 0 5px 0}
.social a{margin:0 5px 0 0}
.article{border-bottom:1px dashed #D3D3D3;padding:0 0 15px 0;margin:0 0 30px 0}
.article-title,.article-title a{color:#6e6e6e;font:300 13px "Microsoft JhengHei";line-height:1.7em}
.article-title h3{color:#000;font:300 20px "Microsoft JhengHei";line-height:1.7em}
.article-content a{color:#6e6e6e}

/*---側邊欄(共用)---*/
#main{background:url(../images/banner-sh.jpg) 0 0 no-repeat #fff;overflow:hidden;padding:200px 30px 50px 50px;overflow:hidden}
#main a:hover{text-decoration:underline}
#aside{width:246px;padding:0 0 0 40px;float:right}
#aside h4{color:#cb441a;font:300 22px "Microsoft JhengHei";height:40px}
#aside a{color:#474747}
#category{margin:0 0 40px 0}
#category a{font:300 16px "Microsoft JhengHei";line-height:2em}
#category ul{padding:0 0 0 10px}
#publish a{font:300 14px "Microsoft JhengHei";line-height:1.7em}
#publish img{margin:0 5px 0 0}
#publish ol{padding:0 0 0 10px}
#publish li ol{padding:0 0 0 20px}
#publish li ol li ol{padding:0}
#publish li ol li ol li{margin:10px 0}