
#content{padding:0 40px 0 0;width:617px;float:left;border-right:1px solid #ddd}
.social{border-bottom:1px dashed #D3D3D3}
.social a{margin:0 5px 0 0;color:#6e6e6e}
.social span{color:#6e6e6e;position:relative;top:-12px;margin:0 10px 0 0}
#social-down{overflow:hidden}
#social-down a{float:left;}
#social-down #back-link{float:right;position:relative;top:5px;}
.article-title h3{color:#ae2901;font:300 20px "微軟正黑體";line-height:1.7em}
.article-content{padding:20px 0}
.article-footer p{padding:20px 0 5px 20px;color:#373737;clear:both}
.article-footer p a{color:#373737}
.article-footer ul{background:#F3F3F3;padding:10px 20px}
.article-footer li{color:#cb441a;font:900 15px "微軟正黑體";padding:5px 0}
.article-footer li a{font:300 14px "微軟正黑體";color:#000;text-decoration:underline}

/*---側邊欄(共用)---*/
#main{background:url(../images/banner-sh.jpg) 0 0 no-repeat #fff;overflow:hidden;padding:200px 30px 50px 50px;overflow:hidden}
#main a:hover{text-decoration:underline}
#aside{width:246px;padding:0 0 0 40px;float:right}
#aside h4{color:#cb441a;font:300 22px "微軟正黑體";height:40px}
#aside a{color:#474747}
#category{margin:0 0 40px 0}
#category a{font:300 16px "微軟正黑體";line-height:2em}
#category ul{padding:0 0 0 10px}
#publish a{font:300 14px "微軟正黑體";line-height:1.7em}
#publish img{margin:0 5px 0 0}
#publish ol{padding:0 0 0 10px}
#publish li ol{padding:0 0 0 20px}
#publish li ol li ol{padding:0}
#publish li ol li ol li{margin:10px 0}