<div id="top-out">
  <div id="top">
    <h1 class="left"><a href="index.html">XQ全球贏家-後台管理系統</a></h1>
    <div class="right">你好，管理員！<a href="#">修改個人資料</a><a href="#">登出</a></div>
  </div>
  <!--top--> 
</div>
<!--top-out-->
<div id="container">
  <div id="side" class="left">
    <ul>
      <li><a href="#" id="update">最新消息</a></li>
      <li><a href="#" id="course">XQ課程資訊</a></li>
      <li><a href="#" id="video">實機線上影片</a></li>
      <li><a href="#" id="experience" class="active">體驗XQ模組</a></li>
      <li><a href="#" id="banner">專家秘訣模組</a></li>
      <li><a href="#" id="users">使用者管理</a></li>
    </ul>
  </div>
  <!--side-->
  <div id="main" class="right">
    
    <div class="main-data">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th width="7%" align="left">日期</th>
          <td width="15%" align="left">2012-07-16</td>
          <th width="7%" align="left">姓名</th>
          <td width="12%" align="left">劉怡廷</td>
          <th width="12%" align="left">公司名稱</th>
          <td width="47%" align="left">聚英眼科診所</td>
        </tr>
      <tr>
          <th align="left">電話</th>
          <td align="left">0987-654-321</td>
          <th align="left">人數</th>
          <td align="left">15</td>
          <th align="left">Email</th>
          <td align="left">admin@eyeplus.com.tw</td>
        </tr>
       
      </table>
    </div>
    <div class="main-data"> 
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th width="7%" align="left">備註</th>
          <td width="93%" align="left">已電話連絡通知</td>
          </tr>
          </table>
    </div>
    <div class="button"><a href="<%=edit_admin_experience_path(@experience)%>"><img src="<%=get_current_host_and_port%>images/edit.png">編輯</a></div>
    <div class="button"><a href="<%=admin_experiences_path%>"><img src="<%=get_current_host_and_port%>images/back.png">返回</a></div>
  </div>
</div>
<!--container-->
<div id="footer"></div>
<!--footer-->
